body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #5D87DF, #0B0C63);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    background: #fff;
    padding: 35px;
    width: 350px;
    border-radius: 12px;
    box-shadow: 0 8px 25px rgba(0,0,0,0.2);
    text-align: center;
}

h2 {
    margin: 0;
    color: #0f9d58;
}

.subtitle {
    font-size: 14px;
    color: #777;
    margin-bottom: 20px;
}

.form-group {
    text-align: left;
    margin-bottom: 15px;
}

label {
    font-size: 13px;
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 8px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #0B0C63;
    border: none;
    border-radius: 6px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: #4462BA;
    color: white;
    transition: 0.3s;
}

#login-error {
    color: red;
    font-size: 13px;
    margin-top: 10px;
}